.OrderConfirm {
}

table {
    width: 100%;
    border-radius: 12px;
    border: none;
    border-collapse: separate;
    border: 1px solid white;
    border-spacing: 10px;
    background-color: rgb(12, 13, 54);
}

th,
td {
    padding: 12px;
    text-align: center;
}

.btnGradient {
    color: white;
    border-radius: 30px;
    width: 200px;
}
